<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>
                Court
            </th>
            <th>
                Location
            </th>
            <th>
                Details
            </th>
        </tr>
    </thead>
    <tbody>
        <% courts.forEach(function(c) { %>
            <tr>
                <td><%= c.court %></td>
                <td><%= c.location %></td>
                <td><a href="/courts/<%= c._id %>">Details</a></td>
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
