<%- include('../partials/header') %>

<section id="show-page">
    <br>
    <h3><span class="underlined">Court Details</span></h3><br>
    <div><span class="strong">Court:&nbsp; </span> <%= court.court %></div>
    <div><span class="strong">Location:&nbsp; </span> <%= court.location %></div>
    <br><br>
    <% if (user) { %>
        <form id="add-review-form" method="POST"
        action="/courts/<%= court._id %>/reviews">
            <textarea name="content"></textarea>
            &nbsp;&nbsp;&nbsp;
            <input type="submit" value="Add Review" id="addReviewBtn">
        </form>
        <br>
    <% } %>
    <% if (court.reviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>Review</th>
              <th>User</th>
              <th>Edit/Delete</th>
            </tr>
          </thead>
          <tbody>
            <% court.reviews.forEach(function(r) { %>
              <tr>
                <td><%= r.content %></td>
                <td class="review-user"><img class="avatarImg" alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"><br><br> posted by <%= r.userName %><br> on <%= r.createdAt.toLocaleDateString() %></td>
                <td>
                  <% if (user?._id.equals(r.user)) { %>
                    <a href="/reviews/<%= r._id %>/edit">Edit</a>
                    <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                      <button type="submit" id="deleteRev">Delete</button>
                    </form>
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
    <% } else { %>
    <h5>No Reviews Yet</h5>
</section>
    <% } %>

<%- include('../partials/footer') %>
